.searchField {
  border: 1px solid grey;
  border-radius: 5px;
  width: 340px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 16px;
}
.label {
  margin-top: 5px;
  margin-left: 7px;
  text-align: left;
}
.input {
  width: 320px;
  height: 40px;
  margin-left: 7px;
}
